<template lang="pug">
  .hr-panel
    h1.header Кабинет Организатора / HR 
    .hr-panel__header
      img(src="/static/actum-logo.png").actum-logo
      .hr-panel__hr-info
        p Anna HR
        img(src="/static/hr-example.png").avatar
    .hr-panel__rating
      .hr-panel__rating-type
        h2.header.font-comfortaa Рейтинг
        .hr-panel__rating-type-controls
          .switcher
            .switcher__option(@click="ratingType = 'user'" v-bind:class="{active: ratingType == 'user'}")
              p Человек
            .switcher__option(@click="ratingType = 'team'" v-bind:class="{active: ratingType == 'team'}")
              p Команда
          .tags-container(v-show="ratingType=='user'")
            .tag.input-element(
              v-bind:class="{active: roleType == 'ANY' }"
              @click="roleType = 'ANY'"
            )
              p.tag__text Общий
            .tag.input-element(
              v-bind:class="{active: roleType !== 'ANY' && roleType.indexOf(db.roles.DESIGNER) !== -1}"
              @click="toggleRoleType(db.roles.DESIGNER)"
            )
              p.tag__text Дизайнер

            .tag.input-element(
              v-bind:class="{active: roleType !== 'ANY' && roleType.indexOf(db.roles.PROGRAMMER) !== -1 }"
              @click="toggleRoleType(db.roles.PROGRAMMER)"
            )
              p.tag__text Программист

            .tag.input-element
              .tag__add-button

      .rating-stats
        p.rating-stats__user ID B3DAA
        .rating-stats__bottom
          p.rating-stats__total {{ placeInTop + 1 }} в рейтинге

          .rating-stats__places
            .number-stat
              p.number-stat__rating {{ Math.abs(hashCode(randomRating + 'aaaaaa') % 2499) }}
              p.number-stat__small дизайн

            .number-stat
              p.number-stat__rating {{ Math.abs(hashCode(randomRating + 'bbbbb') % 2499) }}
              p.number-stat__small программирование

            .number-stat
              p.number-stat__rating {{ Math.abs(hashCode(randomRating + 'ccccc') % 2499) }}
              p.number-stat__small общий

    .hr-panel__body
      .hr-panel__fine-tuning
        h3.header Детальная настройка
        .hr-panel__field
          .hr-panel__field-header
            h5.header Необходимые навыки
            .tag.input-element.tiny
              .tag__add-button

          .tags-container
            .tag.input-element.small
              .tag__text Java
            .tag.input-element.small
              .tag__text Machine Learning
            .tag.input-element.small
              .tag__text Blockchain
        .hr-panel__field.hackathons-number
          .hr-panel__field-header
            h5.header Кол-во пройденных хакатонов
          p {{hackRange[0]}} - {{hackRange[1]}} хакатонов
          vueSlider(v-model="hackRange" tooltip="false" :min="0" :max="maxHackPassedAmount")

        .hr-panel__field

          label.checkbox
            input(type="checkbox")
            .checkbox__box
              .checkbox__mark
                 <ion-icon name="checkmark"></ion-icon>
            span Перспективные

        button().button Подтвердить
      .hr-panel__rating-table
          table(border=0 cellspacing=0)
            thead
              tr
                td №
                td ID
                td Рейтинг
                td MVP
            tbody(v-if="ratingType == 'user'")
              tr(v-for="(data, index) in usersData" 
              v-bind:class="{ active: selected == data.user }" 
              @click="selected = data.user; placeInTop = index;"
              v-if="db.userMvps(data.user) >= hackRange[0] && db.userMvps(data.user) <= hackRange[1]")
                td {{ index + 1 }}
                td.big-column {{ data.user.username  }}
                td {{ data.rating }}
                td {{ db.userMvps(data.user) }}

            tbody(v-else)
              tr(v-for="(data, index) in teamsData" 
              v-bind:class="{ active: selected == data.team }" 
              @click="selected = data.team; placeInTop = index"
              v-if="db.teamMvps(data.team) >= hackRange[0] && db.teamMvps(data.team) <= hackRange[1]"
              )
                td {{ index + 1 }}
                td.big-column {{ data.team.name  }}
                td {{ data.rating }}
                td {{ db.teamMvps(data.team) }}

      .hr-panel__details
        .hr-panel__passed-hackathons
          h2.header {{ hackathonsCount }} хакатона
          p.hr-panel__wins 2 победы 4 призовых
          .hr-panel__field-header
            h5.header Статистика рейтинга
          div
            .graph
              img(src="/static/graph.png")
          div.pentas
            .penta
              img(src="/static/penta1.png")
            .penta
              img(src="/static/penta2.png")
          button.button.red Хочу!
</template>

<script>
import vueSlider from 'vue-slider-component';
import actum from '../actum-ratings';

const hashCode = function(string) {
    var hash = 0;
    if (string.length == 0) {
        return hash;
    }
    for (var i = 0; i < string.length; i++) {
        var char = string.charCodeAt(i);
        hash = ((hash<<5)-hash)+char;
        hash = hash & hash; // Convert to 32bit integer
    }
    return hash;
}

export default {
  name: "HrPanel",
  components: {
    vueSlider,
  },
  data() {
    return {
      db: actum.db,
      ratingType: 'team',
      rating: actum.rating,
      hackRange: [1, 5],
      selected: null,
      roleType: 'ANY',
      placeInTop: null,
    };
  },
  computed: {
    maxHackPassedAmount() {
      return 3;
    },
    usersData() {
      const users = actum.db.users.filter(user => {
        if (this.roleType == 'ANY') {
          return true;
        } else {
          let fits = false;
          const userParticipations = this.db.userParticipations(user);
          if (userParticipations.find(participation => {
            let fits = false;
            participation.roles.forEach(role => {
              if (this.roleType.indexOf(role) !== -1) {
                fits = true;
              }
            })
            return fits;
          })) {
            return true;
          }
        }
      });

      return users.map(user => {
        return {
          user,
          rating: this.rating.totalRating(user)
        }
      }).sort((a, b) => {
        if (Number(a.rating) > Number(b.rating)) {
          return -1;
        } else {
          return 1;
        }
      });
    },
    teamsData() {
      const teams = actum.db.teams;

      return teams.map(team => {
        return {
          team,
          rating: this.rating.totalTeamRating(team),
        };
      }).sort((a, b) => {
        if (Number(a.rating) > Number(b.rating)) {
          return -1;
        } else {
          return 1;
        }
      })
    },
    hackathonsCount() {
      if (this.selected == null) {
        return 'loading'
      } else if (this.ratingType == 'team') {
        return this.selected.projects.length;
      } else if (this.ratingType == 'user') {
        return this.db.userParticipations(this.selected).length;
      }
    },
    randomRating() {
      if (this.selected && this.selected.username) {
        return Math.abs(hashCode(this.selected.username) % 2499);
      } else if (this.selected && this.selected.name) {
        return Math.abs(hashCode(this.selected.name) % 2499);
      }
    }
  },
  methods: {
    initSelected(type) {
      if (type == 'team') {
        this.selected = this.teamsData[0].team;
      } else {
        this.selected = this.usersData[0].user;
      }
      this.placeInTop = 0;
    },
    hashCode,
    toggleRoleType(role) {
      if (this.roleType == 'ANY') {
        this.roleType = [role];
      } else if (this.roleType.indexOf(role) === -1) {
        this.roleType.push(role);
      } else {
        this.roleType.splice(this.roleType.indexOf(role), 1);
        //this.roleType = this.roleType
        if (this.roleType.length == 0) {
          this.roleType = 'ANY';
        }
      }
    }
  },
  mounted() {
    this.initSelected(this.ratingType);
    this.hackRange[1] = this.maxHackPassedAmount;
  },
  watch: {
    ratingType(chosen) {
      this.initSelected(chosen)
    },
    selected(next) {
      console.log(next);
      if (next.members) {
        console.log();
      }
      //console.log(md5(next.team || next.user));
    }
  }
};
</script>

<style lang="scss" scoped>
$bg-color: #EAEFF3;
$white: #FEFEFE;
$red: #F36969;
$switcher-height: 2.25em;
@mixin abs-center-top() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin abs-center-side() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin abs-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.graph {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.penta, .graph {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.pentas {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.penta {
  flex-grow: 1;
  margin: 1em;
}

.button {
  background: linear-gradient(256.53deg, #CFEEFF 3.1%, #D2E8FF 90.43%);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  padding: 0.5em 1.25em;

  font-weight: 400;
  margin: auto;
  display: block;
  margin-top: 3em;
  &.red {
    background: $red;
  }
}

.checkbox {
  display: flex;
  &:hover {
    .checkbox__box {
      background-color: lighten(#F36969, 10);
    }
  }

  span {
    margin-left: 0.5em;
  }

  &__box {
    width: 20px;
    height: 20px;
    background-color: #F36969;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mark {
    opacity: 0;
    color: $white;
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] {
    visibility: hidden;
    //transform: translateX(-100%);
    position: absolute;
  }

  input[type="checkbox"]:checked ~ .checkbox__box .checkbox__mark  {
    opacity: 1;
  }
}

.hackathons-number {
  p {
    font-size: 18 / 16 * 1em;
  }
}

h3, h4, h5 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
p {
  font-weight: 300;
}
.hr-panel__field-header {
  display: flex;
  align-items: center;
  h5 {
    font-size: 14 / 16 * 1em;
  }
}
.hr-panel__wins {
  margin: 1em 0;
}
.hr-panel__field {
  margin-top: 2em;
}

.number-stat {
  margin: 0 0.5em;
  font-weight: 300;
  text-align: center;

  &__rating {
    font-size: 24 / 16 * 1em;
  }
  &__small {
    font-size: 0.8em;
  }
}

.input-element {
  height: $switcher-height;
  padding: 0.5em $switcher-height / 2;
  border-radius: $switcher-height / 2;
  &.small {
    $switcher-height: 25 / 16 * 1em;
    height: $switcher-height;
    padding: 0.5em $switcher-height / 2;
    border-radius: $switcher-height / 2;
  }
  &.tiny {
    $switcher-height: 1em;
    height: $switcher-height;
    padding: 0.5em $switcher-height / 2;
    border-radius: $switcher-height / 2;
  }
}

.switcher {
  display: flex;
  margin: 0 0.5em;
  width: 100%;
  max-width: 300px;
  cursor: pointer;

  &__option {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 50%;
    background-color: $white;
    height: $switcher-height;
    white-space: nowrap;

    padding: 0.5em $switcher-height / 2;

    &.active {
      background: linear-gradient(234.37deg, #B2E8FF -9.22%, rgba(255, 255, 255, 0) 132.87%), #D2E7FF;
    }

    &:first-child {
      border-top-left-radius: $switcher-height / 2;
      border-bottom-left-radius: $switcher-height / 2;
    }

    &:last-child {
      border-top-right-radius: $switcher-height / 2;
      border-bottom-right-radius: $switcher-height / 2;
    }
  }
}

.tags-container {
  display: flex;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $switcher-height;
  border-radius: $switcher-height / 2;
  border: 1px solid #B6B6B6;
  position: relative;

  &__add-button {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:before, &:after {
      display: block;
      position: absolute;
      @include abs-center;
      background-color: #B6B6B6;
      content: '';
    }

    &:before {
      display: block;
      width: 66%;
      height: 1px;
    }

    &:after {
      display: block;
      width: 1px;
      height: 66%;
    }
  }

  &.active {
    border-color:  $red;
  }
}

.header {
  text-align: left;
  font-weight: 300;
}

.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

.hr-panel {
  background-color: $bg-color;
  font-family: 'Open Sans', sans-serif;
  max-width: 1366px;
  width: 100%;
  margin: auto;

  &__rating, &__body, h1.header {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__header {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__breadcrumbs {
    font-weight: 300;
    text-align: left;
    font-size: 50 / 16 * 1em;
  }
  &__rating-type {
    flex-grow: 1;
  }

  &__rating-type-controls {
    display: flex;
    margin-left: -0.5em;
    margin-right: 0.5em;
  }

  &__rating {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    .tag {
      margin: 0 0.5em;
    }
  }

  &__body {
    display: flex;
    & > * {
      background-color: $white;
      margin: 0 1em;
    }
  }

  &__fine-tuning {
    max-width: 270px;
    width: 100%;
    padding: 0.75em;
    margin-left: 0;
    align-self: flex-start;

    .tags-container {
      padding: 0.5em 0;
      flex-wrap: wrap;
      //display: inline-block;
      margin: -0.25em;

    }
    .tag {
      margin: 0.25em;
    }
  }

  &__details {
    max-width: 430px;
    margin-right: 0;
    padding: 2em;
  }

  &__rating-table {
    flex-grow: 1;
    table {
      width: 100%;
      padding: 1em;
    }

    .big-column {
    }

    tr {
      position: relative;

      &.active {
        background-color: #F3F3F3;

        td:first-child:before {
          background-color: #B3E9FF;
          left: 0;
          top: 0;
          height: 100%;
          position: absolute;
          background-color: #B3E9FF;;
          width: 0.25em;
          content: '';
        }

        td:first-child {
          position: relative;
        }
      }
    }

    td {
      border-bottom: 1px solid $bg-color;
      padding: 0.5em;
      cursor: pointer;
    }
  }
}
.rating-stats {
  background: linear-gradient(234.37deg, #B2E8FF -9.22%, rgba(255, 255, 255, 0) 132.87%), #D2E7FF;
  padding: 10 / 16  * 1em;
  width: 100%;
  max-width: 600px;

  &__total {
    font-size: 24 / 16 * 1em;
  }

  &__user {
    text-align: left;
  }
  &__bottom {
    display: flex;
  }

  &__places {
    display: flex;
    margin-left: 2em;
  }
}

.avatar {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

.actum-logo {
  width: 70px;
  height: 46px;
}

.hr-panel__header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.hr-panel__hr-info {
  display: flex;
  .avatar {
    margin-left: 2em;
  }
}
</style>
      