<template lang="pug">
  .actum-rating
    h1
      | What's up niggas.
    ul.user-info
      li(v-for="user in users")
        p Имя: {{ user.username }}
        div.user-info__ratings 
          p Рейтинг: {{ Number(ratings.hardSkillBase(user) + ratings.softSkillBase(user)).toFixed(2) }}
          //p HS: {{ ratings.hardSkillBase(user).toFixed(2) }}
          //p SS: {{ ratings.softSkillBase(user).toFixed(2) }}
        p Опыт: {{ db.userParticipations(user).length }} хакатона
        p MVP: {{ userPlaces(user).filter(place => place !== 0).join(' и ') }} места
        p Роли {{ userRoles(user) }}
        p Команды: {{ userTeams(user).join(' ') }}
        p Програмерский рейтинг: {{ Number(ratings.hardSkillProfile(user, db.roles.PROGRAMMER)  + ratings.softSkillProfile(user, db.roles.PROGRAMMER)).toFixed(2) }}
        p Программерский и COMMON: {{ Number(ratings.hardSkillProfileCommon(user, db.roles.PROGRAMMER) + ratings.softSkillProfileCommon(user, db.roles.PROGRAMMER)).toFixed(2)  }}
</template>

<script>
import actum from '../actum-ratings';

export default {
  name: "RatingTable",
  data() {
    return {
      db: actum.db,
      ratings: actum.rating
    };
  },
  computed: {
    users() {
      return this.db.users;
    }
  },
  methods: {
    userPlaces(user) {
      return this.db.userParticipations(user).map(participation => participation.project.place);
    },
    userRoles(user) {
      let roles = this.db.userParticipations(user).map(participation => {
        return participation.roles.map(role => role.name);
      });
      roles = [].concat.apply([], roles);
      return roles;
    },
    userTeams(user) {
      let teams = this.db.userParticipations(user).map(participation => {
        return participation.project.team.name;
      })
      return teams;
    }
  },
};

</script>

<style lang="scss" scoped>
ul {
  list-style-type: none;
}
li {
  display: flex;
  border-bottom: 1px solid gray;
}
p {
  margin: 0.5em;
}
</style>
      