<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
$bg-color: #EAEFF3;
* {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;

  bacground-image: url("/static/actum-brand");
  background-repeat: no-repeat;

  background-position: bottom left;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 20px;
}
</style>
